.wrapper {
    font-family:'arial', sans-serif;
    padding: 70px 0;
    text-align: center;
}

.cat {
    align-items: center;
    text-align: center;
    padding: 15px;
}

.icon {
    height: 50px;
    width: 500px;
}

.iconbase {
    width: 20%;
}

h2 {
    color: black;
}

.searchbarcourse {
    height: 10px;
}

.textallcourse {
    margin-top: 35px;
}