*,
*::before,
*::after {
  box-sizing: border-box;
}
.sidefilter {
    border-style: solid;
    border-color:black;
    border-radius: 5px;
    float:top;
    margin: auto;
    width: 75%;
    padding: 10px;
    height: 10%;
    
}

#filtersearch {
    width: 100%;
    margin-bottom: 5px;
}

#search {
    width: 50px !important;
    margin-left: 20px;
    margin-bottom: 10px;
}


.select {
    width: 100%;
}

.filters {
    width: 100%;
    text-align: center;
    display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

}

.slidecontainer {
    width: 100%;
}

input[type="range"] {
    position: relative;
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}

.improveskill{
    width: 40px;
}

.iconskill {
    text-align: center;
}

@media (min-width: 40rem) {
    .filter_item {
      width: 50%;
    }
}
  
@media (min-width: 56rem) {
    .filter_item {
      width: 33.3333%;
    }
}

.filter_item {
    text-align: center;
    padding: 1rem;
    padding-left: 70px;
}

.select_item {
    width: 180px;
}

.title_item {
    text-align: center;
}

.fivemin, 
.tenmin, 
.thirtymin, 
.moremin {
    background-color:rgb(100, 100, 230);
    border-color: blue;
}