// .Searchcourse {
//     text-align: center;
//     width: 100%;
// }

// .cards {
//     padding: 0px;
//     margin: 2px;
//     display: grid;
//     place-items: center;
// }

// .allcard {
//     padding-left: 0px !important;
//     padding-right: 0px !important;
//     margin-left: 0px !important;
//     margin-top: 20px;
//     margin-right: 6px !important;
//     margin-bottom: 0px !important;
//     padding-bottom: 0px !important;
//     width: 50%;
// }

// .buttons {
//     border: 2px;
//     height: 80%;
//     padding-top: 0;
// }

// .bookmark, .share, .ellipsis {
//     border: 0px;
//     border-color: grey !important;
//     color: black !important;
//     background-color: white !important;
//     max-width: auto;
// }

// .card-footer {
//     padding-left: 0;
//     padding-right: 0;
//     margin: 0;
//     width: 100%;
// }

// .card-body {
//     padding-right: 0;
//     padding-left: 0;
//     padding-bottom: 0;
//     margin-right: 0;
//     margin-bottom: 0;
// }

input {
    border-radius: 10px;
    width: 100%;
}

// br {
//     margin: 2.5em 0;
//     line-height: 5em;
// }

// .skillimprove {
//     width: 35px;
// }

// #skill {
//     margin-top: 10px;
//     margin-bottom: 0;
//     width: 100%;
// }

// .description {
//     font-style: italic;
// }

// .user-information {
//     text-align: center;
// }

/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

// html {
//   background-color: #ecf9ff;
// }

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.cardimg {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  margin-bottom: 4px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  // overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, rgb(52, 176, 182) 40%, rgb(114, 156, 255) 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

.headcard {
  text-align: center;
}


.difficulty {
  text-align: center;
  opacity: 0.7;
  font-weight: bold;
  color: white;
}

div[id="Beginner"] {
  background-color: green;
}

div[id="Intermediate"] {
  background-color: blue;
}

div[id="Advanced"] {
  background-color:orange;
}

div[id="Expert"] {
  background-color:red;
}

.suggesting {
  text-align: center;
  font-style: italic;
  background-color: rgb(214, 213, 213);
  margin: 0;
}

.starRate {
  text-align: center;
}