.uploadtab {
    text-align: center;
    border-color: green;
    border: 10px;
}

#tabs {
    border-color: green;
    border: 2px;
}

#upinputarticle, #upinputvideo,
#upinputlivre, #upinputpodcast {
    margin: auto;
    width: 60%;
    text-align: center;
    padding: 10px;
}

.nav {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

#up {
    width: 400px;
}

#uploadcours {
    width: 80px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}