.footer {
    display: block;
    max-width: 5%;
    opacity: 0.5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 50%;
}