@import '../variables.scss';

.navbar {
    position: relative;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    overflow: inherit !important;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.button-signin {
    border-radius: 4px;
}

.button-register {
    border-radius: 4px;
}
.navbar-toggler {
    margin: 0;
    max-width: 50px;
}

.navbar-brand {
    padding-top: 0px !important;
}

.navimg {
    display: block;
    margin-left: 90%;
    margin-right: 10%;
    max-width: 10%;
}

h3 {
    font-size: 20px !important;
}
.nav-avatar {
    width: 40px;
    border-radius: 50%;
}


.navLogo {
    height: 70px
}

.nav-link-left {
    margin-left: 40px;
    font-size: 14px;
}

.nav-link {
    color: $alizarin-crimson !important;
}

.nav-link:hover {
    color: $persian-green !important;
}

.nav-link:focus {
    color: $persian-green !important;
}

.dropdown-menu {
    background-color: $wild-sand !important;
}

.dropdown-divider {
    border-color: $persian-green !important;
}

.dropdown-item {
    text-align: right !important;
}
.dropdown-item:hover {
    color: $persian-green !important;
}
