@import '../variables.scss';
// https://codepen.io/chrisoncode/pen/IdGKH

$bg-color: #424242;
$hl-color: #2196F3;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;

.container-login {
  min-height: 90px;
  margin-top: 10px;
}

.overlay {
	background: #eb4750;
	background: linear-gradient(to right, #00BFB2, #00BFB2 );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #ffffff;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

button {
	/* border-radius: 5px; */
	border: 2px solid $alizarin-crimson;
	background-color: $alizarin-crimson;
	color: #f7f7f7 !important;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
  transition: transform 80ms ease-in;
  height: 50px;
  width: 200px;
}

button.ghost {
	background-color: $alizarin-crimson;
}

.login-form {
    background-color: $gray-nurse;
    input {
        background-color: inherit;
        /* border: 2px solid #ced0ce; */
        /* border-radius: 5px; */
        color:  #565a5c;
        padding: 12px 15px;
        /* margin: 4px 0; */
        margin: 0 0;
        width: 100%;
    }



// input
.group 			  { 
    margin-top: 40px;
    position:relative;
    margin-bottom: 15px;
  }
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    // width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  input:focus 		{ outline:none; }
  
label 				 {
  color: $nevada; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

input:focus ~ label {
  transition: 0.2s ease all;
  transform: scale(1.2);
  left: 20px
}
/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:$alizarin-crimson;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:$persian-green;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:$persian-green; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:$persian-green; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:$persian-green; }
  to 	{ width:0; background:transparent; }
}
}