@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

* {
	box-sizing: border-box;
}


h1 {
	font-weight: bold;
    font-size: 2.5em;
}

h2 {
	text-align: center;
}


span {
	font-size: 12px;
    color:  #565a5c;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

.group-join {
	width: 100%;
}


form {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	// padding: 0 50px;
	height: 100%;
	text-align: center;
}

.form-container {
	position: absolute;
	top: 15%;
	height: 70%;
	transition: all 0.6s ease-in-out;
    color: #565a5c;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 1;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
    /* animation: show 0.6s; */
    font-size: 15px;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 15%;
	left: 50%;
	width: 50%;
	height: 70%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}



.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 100px 40px;
	text-align: center;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 2px 0;
}

.social-container a {
	border: 2px solid #ced0ce;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}