.adminnavbar {
    border-color: rgb(224, 224, 224);
    border: 1px;
    margin: 2px;
    padding: 5px;
    position: static;
    top: 0;
    text-align: center;

}

.sidenavbar {
    padding: 0px;
}

.adminimg {
    width: 40px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
