.modify {
    background-color: rgba(0, 0, 0, 0);
    color: black !important;
    border-color: rgb(78, 9, 226);
    // width: 100%;
    align-items: center;
}

.buttonuserlist {
    margin: 0;
    padding: 0;
}

.modify, .delete, .detail {
    margin: 1px;
    height: 30px;
}