.contact, .home {
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    background-color: black;
    height: 1px;
    width: 300px;
}

.about-text {
    font-style: italic;
}