button {
    margin: auto;
    width: 30%;
    padding: 10px;
    margin-top: 10%;
    padding: 1px;
}

.bus {
    max-width: 70%;
}

.onboard {
    margin: auto;
    text-align: center;
    width: 70%;
    padding: 10px;
    padding-top: 10%;
}

.book , .rate , .skill, .end{
    max-width: 100px;
}

.learn {
    margin-top: 5%;
}

.card-body {
    border-width: 2px;
    margin: 0.6em;
    flex-grow: 1;
    max-width: 100%;
}

.skipbutton {
    border-color: rgb(110, 110, 110);
    background-color: white;
    color:rgb(110, 110, 110) !important;
    position: sticky;
    width: 50%;
    bottom: 50px;
    right: 0px; 
    margin-left: 74%;
}

.startbutton {
    width: 100% !important;
    position: fixed;
    bottom: 0px;
    right: 0px; 
}

.endingbutton {
    border-color: blue;
    background-color: white;
    color: blue !important;
    position: fixed;
    width: 50%;
    bottom: 0px;
    right: 0px; 
}

.backstep5 {
    position: fixed;
    width: 50%;
    bottom: 0px;
    left: 0px; 
}

.backbutton {
    position: fixed;
    width: 50%;
    bottom: 0px;
    left: 0px;   
}

.nextbutton {
    position: fixed;
    width: 50%;
    bottom: 0px;
    right: 0px; 
}

.skip {
    width: 6%;
}