.dashboard-user {
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .detail {
    background-color: rgba(0, 0, 0, 0);
    color: black !important;
    border-color: rgba(6, 185, 170, 0.945);
    width: 100px;
    align-items: center;
  }
  
  .delete {
    background-color: rgba(0, 0, 0, 0);
    color: black !important;
    border-color: rgb(185, 6, 66);
    width: 110px;
    align-items: center;
  }
  
  Table {
    align-items: center;
  }
  
  .bookmarkimg, .mycourseimg, .progressimg {
    display: block;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  .mixed-chart {
    align-items: center;
  }

@media(min-width: 576px){
  .nav-tabs {
    width: auto !important;
    padding: 0px !important;
  }
}

@media(min-width: 768px){
  .nav-tabs {
    width: auto !important;
    padding: 0px !important;
  }
}

@media(min-width: 992px) {
  .nav-tabs {
    width: 50% !important;
    padding: 10px !important;
  }
}
 