.dashboard-profil {
  padding: 20px;
  width: 100% !important;
}

.myprofilecard {
  width: 100% !important;
}

.profilavatar {
  max-width: 40% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}